@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root{
  --green-1: #139980;
  --orange-1: #FF736A;
  --black-1: #001F27;
  --grey-1: #3A3636;
  --grey-2: #808F93;
  --lightblue-1: #00D2FF;
}

*,*::before, *::after, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  line-height: 24px;
}